<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="DBVentaContainer" connectionString="metadata=res://*/Modelo.DB.csdl|res://*/Modelo.DB.ssdl|res://*/Modelo.DB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-42ICOGA\SQLEXPRESS;initial catalog=SisVentaProg40;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="AccesoUsuarioContainer" connectionString="metadata=res://*/ModeloUsuario.AccesoUsuario.csdl|res://*/ModeloUsuario.AccesoUsuario.ssdl|res://*/ModeloUsuario.AccesoUsuario.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-42ICOGA\SQLEXPRESS;initial catalog=AccesoUsuario;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>